*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
}
:root {
  --primary-color: #47694f;
  --white: #ffffff;
  --bg: #799881;
  --font: "Poppins", sans-serif;
  --black: #000;
  --text-heading: #46694f;
  --bg-footer: #222222;
  --red: #f00;
  --hover: #80b885;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: var(--font);
  font-size: 16px;
}
.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  padding: 25px 0;
  background-color: #f5f5f5;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}

.header-form {
  margin-right: 180px;
  width: 280px;
  padding-right: 16px;
}
.header-input {
  position: relative;
}
.header-input input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #46694f;
  padding: 6px 48px 6px 12px;
  background-color: var(--white);
}
.header-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 16px;
  font-size: 19px;
  line-height: 48px;
}
.header-bar {
  cursor: pointer;
  font-size: 24px;
  color: var(--text-heading);
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-bell {
  color: var(--text-heading);
  padding-right: 20px;
  font-size: 22px;
  border-right: 1px solid var(--text-heading);
}
.header-auth {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-name {
  color: var(--text-heading);
  font-size: 20px;
  font-weight: 600;
}
.dashboard {
  position: relative;
  padding: 40px 0;
}
.dashboard-main {
  display: flex;
  justify-content: space-between;
}
.dashboard-left {
  max-width: 280px;
  width: 100%;
  display: none;
  transition: 0.25s linear;
}
.dashboard-left.active {
  display: block;
}
.dashboard-menu {
  transition: transform 0.25s linear;
  width: 280px;
  height: 91, 1cap;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #f5f5f5;
}
.dashboard-menu.is-show {
  transform: translateX(0);
}
.dashboard-left.show {
  display: block;
}
.dashboard-menu.show {
  transform: translateX(0);
}
.dashboard-right {
  width: 100%;
  min-height: 100vh;
}
.title {
  color: var(--text-heading);
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.heading-primary {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-heading);
  margin-bottom: 40px;
}
.dashboard-menu-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-heading);
  padding: 15px 20px;
}
.dashboard-menu-link.active {
  background-color: var(--primary-color);
  color: var(--white);
  pointer-events: none;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-heading);
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}
.dashboard-list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.dashboard-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  border-right: 2px solid #ccc;
}
.dashboard-card-name {
  color: var(--text-heading);
  font-weight: 500;
  margin-bottom: 12px;
}
.dashboard-content {
  display: none;
}
.dashboard-content.active {
  display: block;
}
.dashboard-card-quantity span {
  font-size: 32px;
  font-weight: 500;
  color: #00000099;
}
.statistical h2 {
  font-size: 24px;
  color: var(--text-heading);
  margin-bottom: 20px;
}
.statistical-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.statistical-left {
  max-width: 400px;
  width: 100%;
}
.statistical-left img {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
.statistical-right {
  width: 100%;
}
.accordion {
  padding: 40px 0;
}
.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}
.accordion-item {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-heading);
  border-radius: 5px;
  color: white;
}
.footer {
  padding: 50px 0;
  background-color: #222;
}
.footer-copy {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: var(--white);
  font-size: 20px;
  font-style: italic;
}
.dashboard-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-primary {
  font-size: 32px;
  color: var(--primary-color);
  font-weight: 600;
}
.dashboard-add {
  padding: 10px 30px;
  background-color: var(--text-heading);
  color: var(--white);
  border-radius: 5px;
  height: 50px;
}
.categori {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
  margin-top: 30px;
}
.categori thead tr th {
  padding: 10px;
  color: var(--white);
  background-color: var(--text-heading);
  text-align: left;
  border: #000;
}
.categori thead tr th:nth-child(2) {
  text-align: center;
}
.categori tbody tr td {
  padding: 12px;
  border: 1px solid var(--text-heading);
}

.categori tbody tr td:nth-child(2) {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.edit {
  color: var(--text-heading);
  padding-right: 16px;
  border-right: 1px solid var(--text-heading);
}
.del {
  color: red;
}
.product {
  width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
  margin-top: 30px;
}
.product thead tr th {
  padding: 15px;
  color: var(--white);
  background-color: var(--text-heading);
  text-align: left;
  border: #000;
  text-align: center;
}
.product thead tr th:nth-child(1) {
  width: 120px;
}
.product tbody tr td {
  text-align: center;
  border: 1px solid var(--text-heading);
}
.product tbody tr td img:nth-child(1) {
  width: 100%;
}
.pl-10 {
  padding-left: 10px;
}
.image {
  height: 80px;
  width: 120px;
  padding: 10px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment tbody tr td {
  text-align: center;
}
.categori-form {
  margin-top: 20px;
}
.category-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}
.category-group input {
  width: 90%;
  height: 50px;
  border: 1px solid #46694f;
}
.category-group button {
  background-color: var(--text-heading);
  height: 50px;
  color: var(--white);
  width: 100px;
}
.category-group-item {
  width: 100%;
}
.category-group-item input {
  padding: 8px 16px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #46694f;
}
