*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-color: #47694f;
  --white: #ffffff;
  --bg: #799881;
  --font: "Poppins", sans-serif;
  --black: #000;
  --text-heading: #46694f;
  --bg-footer: #222222;
  --red: #f00;
  --hover: #80b885;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: var(--font);
  font-size: 16px;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: var(--text-heading);
  padding: 15px 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-form {
  margin-right: 180px;
  width: 502px;
  padding-right: 16px;
}
.header-input {
  position: relative;
}
.header-input input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 6px 48px 6px 12px;
  border: none;
  background-color: var(--white);
}
.header-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 16px;
  font-size: 24px;
  line-height: 48px;
}
.header-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  color: var(--white);
  font-size: 18px;
}
.header-auth__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-auth__item i {
  font-size: 20px;
}
.header-link {
  color: var(--white);
  font-size: 16px;
  transition: 0.2s;
}
.header-link:hover {
  color: var(--hover);
}
.header-bottom {
  background-color: var(--black);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 9;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 5;
}
.slick-prev {
  left: 10px;
  background-color: #2cccff;
  color: var(--white);
  border: none;
  z-index: 2;
}
.slick-next {
  right: 10px;
  background-color: #2cccff;
  color: var(--white);
  border: none;
  z-index: 2;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-menu-link {
  font-weight: 600;
  color: var(--white);
  transition: all 0.25s;
}
.header-menu-link:hover {
  color: var(--hover);
}

.hero img {
  height: 550px;
  width: 100%;
}
.hero-item {
  width: 100%;
}
.hero-item img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.product {
  padding: 60px 0;
}
.heading-primary {
  color: var(--text-heading);
  font-size: 50px;
  margin-bottom: 35px;
  text-align: center;
  font-weight: 500;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 30px;
}
.product-item {
  text-align: center;
}
.product-images img {
  width: 100%;
}
.product-title {
  font-size: 18px;
  margin-top: 38px;
  margin-bottom: 20px;
}
.product-title:hover {
  color: var(--hover);
  cursor: pointer;
}
.product-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 24px;
  margin-bottom: 50px;
}
.product-box__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.product-box {
  max-width: 648px;
  width: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
}
.product-price {
  color: var(--text-heading);
  font-size: 20px;
  font-weight: 500;
}
.product-btn {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 48px;
}
.button-primary {
  background-color: var(--text-heading);
  border-radius: 30px;
  padding: 14px 24px;
  color: var(--white);
}
.tab-item {
  padding: 0 16px;
}
.tab-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-link {
  display: inline-flex;
  color: var(--black);
  font-weight: 500;
  padding: 0 16px;
}
.tab-link:hover {
  background-color: var(--text-heading);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 5px;
}
.tab-link.active {
  background-color: var(--text-heading);
  color: var(--white);
  padding: 10px 16px;
  border-radius: 5px;
}
.button-primary:hover {
  color: var(--white);
  background-color: var(--black);
}
.deal {
  background-color: var(--text-heading);
  padding: 60px 0px;
}
.deal-heading {
  color: var(--white);
  font-weight: 500;
}
.deal-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deal-item {
  max-width: 610px;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
}
.deal-list {
  display: flex;
  gap: 20px;
}
.deal-content {
  width: 100%;
  padding-top: 30px;
}
.deal-item__image {
  max-width: 184px;
  width: 100%;
}
.deal-item__image img {
  width: 100%;
}
.deal-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.deal-title:hover {
  color: var(--hover);
}
.deal-price {
  color: var(--text-heading);
  font-weight: 500;
  padding: 8px 0;
}
.deal-bestseller {
  color: var(--red);
  margin-bottom: 20px;
}
.deal-auth {
  display: flex;
  align-items: center;
  gap: 8px;
}
.deal-view {
  border-radius: 5px;
  border: 1px solid #47694f;
  padding: 8px 20px;
  background: none;
  color: var(--text-heading);
  font-size: 14px;
  transition: 0.2s linear;
}
.deal-view:hover,
.deal-btn:hover {
  background-color: var(--black);
  color: white;
}
.deal-btn {
  background-color: var(--text-heading);
  color: var(--white);
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.2s linear;
}
.deal-items {
  margin-top: 8px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.deal-items img {
  width: 38.5px;
  height: 38.5px;
}
.button-secondary {
  background-color: var(--hover);
}
.button-secondary:hover {
  background-color: var(--black);
  color: var(--white);
}
.service {
  padding: 60px 0;
  background-color: #b5c3b9;
}
.service-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.service-box {
  padding: 40px;
  color: #fff;
  font-size: 14px;
  border-right: 1px #b5c3b9 solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.service-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}
.service-desc {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
.service-box.item-1 {
  background-color: #6b8772;
}
.service-box.item-2 {
  background-color: #46694f;
}
.service-box.item-3 {
  background-color: #38543f;
}
.service-box.item-4 {
  background-color: #38543f;
}
.seller {
  padding: 60px 0;
}
.seller-main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.seller-product {
  max-width: 610px;
  width: 100%;
}
.seller-product-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 40px;
}
.seller-banner {
  width: 100%;
}
.customer-main {
  display: flex;
  justify-content: space-between;
}
.customer-banner {
  max-width: 655px;
  width: 100%;
}
.customer-image {
  width: 100%;
  height: 684px;
}
.customer-content {
  padding: 140px 60px 60px;
  width: 100%;
  background-color: var(--text-heading);
}
.customer-icon i {
  font-size: 60px;
  color: #768d7b;
}
.customer-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
  color: var(--white);
  max-width: 454px;
  margin: 25px 0;
}
.customer-desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 25px;
}
.customer-info {
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.customer-member {
  font-weight: 400;
}
.customer-rating i {
  color: #f4b744;
}
.blog {
  padding: 60px 0;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 30px;
}
.blog-item {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.blog-image {
  max-width: 254px;
  width: 100%;
}
.blog-image img {
  width: 100%;
  height: 188px;
}
.blog-content {
  width: 100%;
}
.blog-title {
  margin-bottom: 12px;
}
.blog-title a {
  color: var(--black);
  font-weight: 500;
  transition: 0.2s;
}
.blog-title a:hover {
  color: var(--hover);
}
.blog-date {
  color: #9fa3a7;
  font-size: 14px;
  margin-bottom: 8px;
}
.blog-desc {
  font-size: 14px;
  color: #212259;
  line-height: 20px;
  margin-bottom: 10px;
}
.blog-button {
  background-color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 5px;
  color: var(--white);
  transition: 0.2s;
}
.blog-button:hover {
  background-color: var(--black);
  color: var(--white);
}
.login {
  padding: 60px 0;
}
.login-box {
  max-width: 610px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 1px 69.16px 6.84px rgba(20, 64, 51, 0.05);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-title {
  margin-bottom: 15px;
  font-size: 26px;
  text-align: center;
}
.login-regiter {
  margin-bottom: 10px;
}
.login-form {
  margin-top: 20px;
  width: 100%;
}
.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 20px;
  border-color: #ebebeb;
  box-shadow: none;
  background: #ebebeb;
  margin-bottom: 15px;
  border: none;
  height: 45px;
  border-radius: 5px;
}
.login-button {
  width: 100%;
  margin-bottom: 15px;
}
.login__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.login-btn {
  height: 45px;
  width: 100%;
  background-color: var(--text-heading);
  color: var(--white);
  border-radius: 5px;
}
.form-app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-app__fb button {
  background-color: #0a66c2;
  padding: 10px 25px;
  color: var(--white);
  border-radius: 4px;
}
.form-app__google button {
  background-color: #cd201f;
  padding: 10px 25px;
  color: var(--white);
  border-radius: 4px;
}
.form-group-center {
  font-size: 14px;
}
.text {
  font-size: 16px;
}
.regester-link {
  color: var(--text-heading);
}
.detail {
  padding: 60px 0;
}
.detail-main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.detail-image {
  display: flex;
  flex-direction: column;
  max-width: 676px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
}
.detail-image__list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.detail-image__item {
  width: 100px;
}
.detail-img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  /* height: 100%;
  width: 100%;
  object-fit: cover; */
}

.detail-content {
  width: 100%;
}
.footer {
  background-color: var(--bg-footer);
  padding: 48px 0;
}
.footer-box {
  background-color: var(--text-heading);
  margin-bottom: 60px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-radius: 5px;
}
.footer-box__title {
  font-size: 20px;
  font-weight: 500;
}
.footer-form {
  max-width: 590px;
  width: 100%;
}
.footer-form__input {
  position: relative;
  display: flex;
  align-items: center;
}
.footer-form__submit {
  position: absolute;
  right: 0;
}
.form-control {
  width: 100%;
  height: 60px;
  border: none;
  background-color: var(--white);
  padding: 6px 85px 6px 12px;
  border-radius: 4px;
}
.footer-form__submit {
  padding-right: 6px;
}
.footer-btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 15px 25px;
  border-radius: 4px;
}
.footer-column {
  color: var(--white);
}
.footer-menu {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}
.footer-link i {
  font-size: 26px;
}
.footer-list {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  grid-gap: 30px;
}

.footer-title {
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-menus {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-checkout {
  margin-top: 40px;
}
.footer-checkout__title {
  margin-bottom: 10px;
}
.footer-checkout__icon {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}
.footer-icon__image {
  width: 40px;
  height: 40px;
}
