*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --primary-color: #47694f;
  --white: #ffffff;
  --bg: #799881;
  --font: "Poppins", sans-serif;
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  text-decoration: none;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: var(--font);
  font-size: 16px;
}
.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: var(--bg);
  padding: 15px 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-form {
  margin-right: 180px;
  width: 502px;
  padding-right: 16px;
}
.header-input {
  position: relative;
}
.header-input input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 6px 48px 6px 12px;
  border: none;
  background-color: var(--white);
}
.header-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 16px;
  font-size: 24px;
  line-height: 48px;
}
.header-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  color: var(--white);
  font-size: 18px;
}
.header-auth__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-auth__item i {
  font-size: 20px;
}
.header-link {
  color: var(--white);
  font-size: 16px;
}
.header-bottom {
  background-color: var(--black);
  padding: 20px 0;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-menu-link {
  color: var(--white);
}
